/* carnet-ejercicio1a.css GS25016 */

fichero {
    background-color: lightgray;
    display: block;
    padding: 15px;
}

ficha {
    background-color: white;
    border: 2px solid blue;
    display: block;
    margin: 10px;
    padding: 10px;
}

nombre {
    color: blue;
    font-weight: bold;
}

apellido {
    color: green;
    font-weight: bold;
}

direccion {
    color: purple;
}

telefono {
    color: red;
}

email {
    color: orange;
}

website {
    color: brown;
}